This notebook is a Job search tool to findout the top 10 Data scientist jobs per city. 

Steps:
- Removed empty reviews rows
- Changed the type of reviews column from float to int
- Removed leading/trailing spaces and zip code from the location column
- Filtered the rows by "Data Scientist Text" from position
- Removed rows that have string/substring Senior OR online OR sr in position column and University in company column
- Finally, the data is grouped by Cities and sorted by number of reviews

In [1]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#%matplotlib inline

In [136]:
DSData = pd.DataFrame()
fields = ['position', 'company','reviews','location']
DSData = pd.read_csv(r"C:\Users\Niranjan\Desktop\Data Science\git\ThinkfulExercises\Data Scientist Job Market in the US.csv",usecols=fields)

In [135]:
print(DSData.head())

                                            position             company  \
0                               Development Director             ALS TDI
1  An Ostentatiously-Excitable Principal Research...  The Hexagon Lavish
2                                     Data Scientist      Xpert Staffing
3                                       Data Analyst      Operation HOPE
4  Assistant Professor -TT - Signal Processing & ...    Emory University

   reviews            location
0      NaN  Atlanta, GA 30301
1      NaN         Atlanta, GA
2      NaN         Atlanta, GA
3     44.0  Atlanta, GA 30303
4    550.0         Atlanta, GA

In [137]:
DSData = DSData.dropna(axis=0,how='any',subset=['reviews'])
DSData['reviews'] = DSData['reviews'].astype(int)
print(DSData.head())

                                            position             company  \
3                                       Data Analyst      Operation HOPE
4  Assistant Professor -TT - Signal Processing & ...    Emory University
5                        Manager of Data Engineering  McKinsey & Company
6       Product Specialist - Periscope, New Ventures  McKinsey & Company
7  Junior to Mid-level Engineer, Geologist or Env...                Wood

   reviews            location
3       44  Atlanta, GA 30303
4      550         Atlanta, GA
5      385  Atlanta, GA 30318
6      385  Atlanta, GA 30318
7      899         Atlanta, GA

In [139]:
DSData['location'] = DSData['location'].str.replace("\d+","")
DSData['location'] = DSData['location'].str.strip()
#DSData = DSData[DSData['location'].str.replace("\d+","")]
print(DSData.head(),len(DSData))

                                            position             company  \
3                                       Data Analyst      Operation HOPE
4  Assistant Professor -TT - Signal Processing & ...    Emory University
5                        Manager of Data Engineering  McKinsey & Company
6       Product Specialist - Periscope, New Ventures  McKinsey & Company
7  Junior to Mid-level Engineer, Geologist or Env...                Wood

   reviews     location
3       44  Atlanta, GA
4      550  Atlanta, GA
5      385  Atlanta, GA
6      385  Atlanta, GA
7      899  Atlanta, GA   5326

In [148]:
DSData = DSData[DSData['position'].str.contains("Data Scientist")]
DSData = DSData[~DSData['position'].str.contains('Senior|online|Sr')]
DSData = DSData[~DSData['company'].str.contains('university')]
print(DSData)
print("Dataframe count: ",len(DSData))

                                               position  \
4328                                     Data Scientist
1951                           Director, Data Scientist
1962                            Manager, Data Scientist
1983                   Manager, Data Scientist (AI/NLP)
1997                       Director, NLP Data Scientist
1917                                     Data Scientist
6646                                     Data Scientist
3516                                     Data Scientist
5899                                     Data Scientist
6754          Lead Data Scientist - Ad Tech / Marketing
6926             Lead Data Scientist - Machine Learning
6951                          Lead Data Scientist - NLP
6957                      Lead Data Scientist - Haskell
6936       Data Scientist - Alexa Language Technologies
5876                                     Data Scientist
5868                                     Data Scientist
6552               Principal PHC Data Scientist - Omics
6562                            PHC, SR. Data Scientist
6597  Associate PHC Data Scientist/PHC Data Scientis...
4311                                     Data Scientist
4215         Digital Data Scientist - Marketing Analyst
4978         Data Scientist, Fire TV Product Management
4979                 Data Scientist, Alexa Shopping NLU
4980              Data Scientist, Private Label Apparel
5009                            Data Scientist - Delphi
5012                                     Data Scientist
6670  Data Scientist – AI Machine Learning – Investm...
5904                                     Data Scientist
5920            Data Scientist @ Cyence - San Mateo, CA
5870                            Research Data Scientist
...                                                 ...
1382  Principal Machine Learning Data Scientist - Na...
1386                       Arity-Data Scientist-Cons II
1399                          Geospatial Data Scientist
2503                            Research Data Scientist
2515                  Research Data Scientist- Alexa ML
2536                                Lead Data Scientist
2500                                  Data Scientist II
2525                                     Data Scientist
3489              Data Scientist, Machine Learning & AI
3526                          Data Scientist, Analytics
531                                      Data Scientist
532                                      Data Scientist
524                                      Data Scientist
1329       Data Scientist - Natural Language Processing
1336                                     Data Scientist
1343                                 NLP Data Scientist
1325                           Marketing Data Scientist
786                                      Data Scientist
5863                                     Data Scientist
5906                                 Data Scientist-DIS
449                                  Data Scientist-ISD
311                                      Data Scientist
391   Software Development Principal Engineer – Data...
483   Junior Data Scientist, Dell HR - Diversity & I...
490   Junior Data Scientist, Dell HR - Talent Acquis...
28                               Data Scientist, Online
233                                      Data Scientist
232                             Advanced Data Scientist
237                                  Data Scientist III
29    Data Scientist - CONSULTANT Level - ORLANDO FL...

                             company  reviews                 location
4328               BMW North America     1958       Woodcliff Lake, NJ
1951                            KPMG     4494           Washington, DC
1962                            KPMG     4494           Washington, DC
1983                            KPMG     4494           Washington, DC
1997                            KPMG     4494           Washington, DC
1917                          Jacobs     2380           Washington, DC
6646                        YapStone       29         Walnut Creek, CA
3516               Bed Bath & Beyond     4677                Union, NJ
5899               HealthyPets, Inc.        7           Union City, CA
6754                          TARGET    33275            Sunnyvale, CA
6926                          TARGET    33275            Sunnyvale, CA
6951                          TARGET    33275            Sunnyvale, CA
6957                          TARGET    33275            Sunnyvale, CA
6936                      Amazon.com    25907            Sunnyvale, CA
5876                        Transdev      921  South San Francisco, CA
5868                       Genentech      678  South San Francisco, CA
6552                       Genentech      678  South San Francisco, CA
6562                       Genentech      678  South San Francisco, CA
6597                       Genentech      678  South San Francisco, CA
4311                Dun & Bradstreet      150          Short Hills, NJ
4215            The Children's Place     2828             Secaucus, NJ
4978                      Amazon.com    25895              Seattle, WA
4979                      Amazon.com    25895              Seattle, WA
4980                      Amazon.com    25895              Seattle, WA
5009                      Amazon.com    25895              Seattle, WA
5012                      Amazon.com    25895              Seattle, WA
6670  Franklin Templeton Investments      512            San Mateo, CA
5904                   Fanatics Inc.      382            San Mateo, CA
5920        Guidewire Software, Inc.       28            San Mateo, CA
5870                    SurveyMonkey       15            San Mateo, CA
...                              ...      ...                      ...
1382                     Capital One     6324              Chicago, IL
1386                        Allstate     5375              Chicago, IL
1399                        Allstate     5375              Chicago, IL
2503                      Amazon.com    25902            Cambridge, MA
2515                      Amazon.com    25902            Cambridge, MA
2536              UnitedHealth Group    12170            Cambridge, MA
2500                       Microsoft     4616            Cambridge, MA
2525                          Sanofi     2740            Cambridge, MA
3489                            Etsy       31             Brooklyn, NY
3526                            Etsy       31             Brooklyn, NY
531                  CA Technologies      726              Boulder, CO
532                     Trimble Inc.      132              Boulder, CO
524                           Splunk       30              Boulder, CO
1329                      Amazon.com    25902               Boston, MA
1336                      Amazon.com    25902               Boston, MA
1343                      Amazon.com    25902               Boston, MA
1325                Procter & Gamble     4526               Boston, MA
786                  Thomson Reuters     2870               Boston, MA
5863                      Z Gallerie      121             Berkeley, CA
5906                           Roche     1578              Belmont, CA
449                          Walmart   148085               Austin, TX
311                              IBM    22252               Austin, TX
391                             DELL     8380               Austin, TX
483                             DELL     8380               Austin, TX
490                             DELL     8380               Austin, TX
28                    The Home Depot    38844              Atlanta, GA
233            The Coca-Cola Company     7236              Atlanta, GA
232                        Honeywell     6121              Atlanta, GA
237                        Honeywell     6121              Atlanta, GA
29                         Capgemini     5720              Atlanta, GA

[128 rows x 4 columns]
Dataframe count:  128

In [149]:
#print(DSData)
#DSData.sort_values(['reviews'],ascending=False)
#.groupby('location').head(3)
DSData = DSData.sort_values(['location','reviews'],ascending=False).groupby('location').head(5)
DSData.sort_values(['location'])
#print(DSData)
#DSData.sort_values(['location','reviews'],ascending=False)

,position,company,reviews,location
29,Data Scientist - CONSULTANT Level - ORLANDO FL...,Capgemini,5720,"Atlanta, GA"
28,"Data Scientist, Online",The Home Depot,38844,"Atlanta, GA"
237,Data Scientist III,Honeywell,6121,"Atlanta, GA"
232,Advanced Data Scientist,Honeywell,6121,"Atlanta, GA"
233,Data Scientist,The Coca-Cola Company,7236,"Atlanta, GA"
483,"Junior Data Scientist, Dell HR - Diversity & I...",DELL,8380,"Austin, TX"
391,Software Development Principal Engineer – Data...,DELL,8380,"Austin, TX"
311,Data Scientist,IBM,22252,"Austin, TX"
449,Data Scientist-ISD,Walmart,148085,"Austin, TX"
490,"Junior Data Scientist, Dell HR - Talent Acquis...",DELL,8380,"Austin, TX"
5906,Data Scientist-DIS,Roche,1578,"Belmont, CA"
5863,Data Scientist,Z Gallerie,121,"Berkeley, CA"
786,Data Scientist,Thomson Reuters,2870,"Boston, MA"
1325,Marketing Data Scientist,Procter & Gamble,4526,"Boston, MA"
1343,NLP Data Scientist,Amazon.com,25902,"Boston, MA"
1336,Data Scientist,Amazon.com,25902,"Boston, MA"
1329,Data Scientist - Natural Language Processing,Amazon.com,25902,"Boston, MA"
531,Data Scientist,CA Technologies,726,"Boulder, CO"
524,Data Scientist,Splunk,30,"Boulder, CO"
532,Data Scientist,Trimble Inc.,132,"Boulder, CO"
3526,"Data Scientist, Analytics",Etsy,31,"Brooklyn, NY"
3489,"Data Scientist, Machine Learning & AI",Etsy,31,"Brooklyn, NY"
2525,Data Scientist,Sanofi,2740,"Cambridge, MA"
2500,Data Scientist II,Microsoft,4616,"Cambridge, MA"
2536,Lead Data Scientist,UnitedHealth Group,12170,"Cambridge, MA"
2515,Research Data Scientist- Alexa ML,Amazon.com,25902,"Cambridge, MA"
2503,Research Data Scientist,Amazon.com,25902,"Cambridge, MA"
1399,Geospatial Data Scientist,Allstate,5375,"Chicago, IL"
1386,Arity-Data Scientist-Cons II,Allstate,5375,"Chicago, IL"
1382,Principal Machine Learning Data Scientist - Na...,Capital One,6324,"Chicago, IL"
...,...,...,...,...
5904,Data Scientist,Fanatics Inc.,382,"San Mateo, CA"
6635,Alibaba Cloud Data Scientist San Mateo,Alibaba,15,"San Mateo, CA"
5870,Research Data Scientist,SurveyMonkey,15,"San Mateo, CA"
5920,"Data Scientist @ Cyence - San Mateo, CA","Guidewire Software, Inc.",28,"San Mateo, CA"
5012,Data Scientist,Amazon.com,25895,"Seattle, WA"
5009,Data Scientist - Delphi,Amazon.com,25895,"Seattle, WA"
4980,"Data Scientist, Private Label Apparel",Amazon.com,25895,"Seattle, WA"
4979,"Data Scientist, Alexa Shopping NLU",Amazon.com,25895,"Seattle, WA"
4978,"Data Scientist, Fire TV Product Management",Amazon.com,25895,"Seattle, WA"
4215,Digital Data Scientist - Marketing Analyst,The Children's Place,2828,"Secaucus, NJ"
4311,Data Scientist,Dun & Bradstreet,150,"Short Hills, NJ"
6597,Associate PHC Data Scientist/PHC Data Scientis...,Genentech,678,"South San Francisco, CA"
6562,"PHC, SR. Data Scientist",Genentech,678,"South San Francisco, CA"
6552,Principal PHC Data Scientist - Omics,Genentech,678,"South San Francisco, CA"
5868,Data Scientist,Genentech,678,"South San Francisco, CA"
5876,Data Scientist,Transdev,921,"South San Francisco, CA"
6754,Lead Data Scientist - Ad Tech / Marketing,TARGET,33275,"Sunnyvale, CA"
6926,Lead Data Scientist - Machine Learning,TARGET,33275,"Sunnyvale, CA"
6936,Data Scientist - Alexa Language Technologies,Amazon.com,25907,"Sunnyvale, CA"
6957,Lead Data Scientist - Haskell,TARGET,33275,"Sunnyvale, CA"
6951,Lead Data Scientist - NLP,TARGET,33275,"Sunnyvale, CA"
5899,Data Scientist,"HealthyPets, Inc.",7,"Union City, CA"
3516,Data Scientist,Bed Bath & Beyond,4677,"Union, NJ"
6646,Data Scientist,YapStone,29,"Walnut Creek, CA"
1917,Data Scientist,Jacobs,2380,"Washington, DC"
1997,"Director, NLP Data Scientist",KPMG,4494,"Washington, DC"
1983,"Manager, Data Scientist (AI/NLP)",KPMG,4494,"Washington, DC"
1962,"Manager, Data Scientist",KPMG,4494,"Washington, DC"
1951,"Director, Data Scientist",KPMG,4494,"Washington, DC"
4328,Data Scientist,BMW North America,1958,"Woodcliff Lake, NJ"