In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [114]:
df = pd.read_csv(r"C:\Users\Niranjan\Desktop\Data Science\git\ThinkfulExercises\Unit 1 Drills\Data cleaning and validation\WELLCOME_APCspend2013_forThinkful.csv",encoding='latin1')
df.rename(columns={'PMID/PMCID':'ID',
                          'Publisher':'publisher',
                          'Journal title':'journal_title',
                   'Article title':'article_title',
                  'COST (£) charged to Wellcome (inc VAT when charged)':'cost'}, 
                 inplace=True)
print('Number of rows in this dataset:',df.ID.count())
df.head(5)

Number of rows in this dataset: 1928

,ID,publisher,journal_title,article_title,cost
0,NaN,CUP,Psychological Medicine,Re/duced parahippocampal cortical thickness in...,£0.00£
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...","£64,2.56"
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [115]:
#remove currency symbols from cost column and include rows that have cost greater than 0 and less than 10,000
df1 = df
df1['cost'] = df1['cost'].replace({'£': '','\$': '', ',': ''}, regex=True)
df1['cost'] = df1['cost'].astype(float)
df1 = df1.query('cost > 0 and cost < 10000')
print('Max cost-{}, min cost-{}, , avg cost-{}'.format(max(df1.cost),min(df1.cost), sum(df1.cost)/df1.cost.count()))

Max cost-6000.0, min cost-9.93, , avg cost-1822.9335838150325

In [119]:
#Aggregate suicide data per country per year
df1_agg_byjournal = (df1.groupby(['journal_title']).agg({'article_title':['count'],
     'cost':['mean','median','std']})).reset_index()
df1_agg_byjournal.columns = ["_".join(x) for x in df1_agg_byjournal.columns.ravel()]
#df1_agg_byjournal.sort_values('count')
df1_top5_journals = df1_agg_byjournal.sort_values('article_title_count', ascending=False).head(5)
df1_top5_journals

,journal_title_,article_title_count,cost_mean,cost_median,cost_std
784,PLoS One,89,930.096517,891.74,229.042988
783,PLoS ONE,59,905.482542,884.32,145.396119
522,Journal of Biological Chemistry,47,1430.351702,1286.86,426.324182
746,Nucleic Acids Research,21,1118.285714,852.00,442.418031
825,Proceedings of the National Academy of Sciences,19,688.774737,664.89,198.026428