In [52]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz

!pip install -q findspark
!pip install pyspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

from google.colab import drive
drive.mount('/content/gdrive')

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.4)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)
Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

from pyspark.ml import Pipeline
from pyspark.ml.classification import LinearSVC
from  pyspark.ml.feature import CountVectorizer

from pyspark.sql.functions import isnan, when, count, col

In [0]:
JSON_PATH = "/content/gdrive/My Drive/Colab Datasets/Amazon_Instant_Video_5.json"
APP_NAME = "Amazon Reviews Sentiment analysis"
SPARK_URL = "local[*]"
RANDOM_SEED = 141107
TRAINING_DATA_RATIO = 0.8
RF_NUM_TREES = 10
RF_MAX_DEPTH = 4
RF_NUM_BINS = 32

In [0]:
spark = SparkSession.builder.appName(APP_NAME).master(SPARK_URL).getOrCreate()
df = spark.read.options(inferschema = "true").json(JSON_PATH)

In [56]:
df_pandas = df.toPandas()
df_pandas.head(5)

         asin helpful  ...                         summary unixReviewTime
0  B000H00VBQ  [0, 0]  ...      A little bit boring for me     1399075200
1  B000H00VBQ  [0, 0]  ...           Excellent Grown Up TV     1346630400
2  B000H00VBQ  [0, 1]  ...           Way too boring for me     1381881600
3  B000H00VBQ  [0, 0]  ...     Robson Green is mesmerizing     1383091200
4  B000H00VBQ  [1, 1]  ...  Robson green and great writing     1234310400

[5 rows x 9 columns]

In [57]:
df_pandas.shape

(37126, 9)

In [58]:
df.printSchema()

root
 |-- asin: string (nullable = true)
 |-- helpful: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- overall: double (nullable = true)
 |-- reviewText: string (nullable = true)
 |-- reviewTime: string (nullable = true)
 |-- reviewerID: string (nullable = true)
 |-- reviewerName: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- unixReviewTime: long (nullable = true)

In [59]:
df.describe().toPandas().transpose()

                    0  ...                                                  4
summary         count  ...                                                max
asin            37126  ...                                         B00LPWPMCS
overall         37126  ...                                                5.0
reviewText      37126  ...  ~Why only ten episodes? This is the first fant...
reviewTime      37126  ...                                         12 9, 2013
reviewerID      37126  ...                                      AZXS6P5QWNMLC
reviewerName    36797  ...                                               zzdb
summary         37126  ...                                    ~HUGE FAN HERE!
unixReviewTime  37126  ...                                         1406073600

[9 rows x 5 columns]

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sklearn

In [61]:
#3and below --ve
from pyspark.sql import functions as F
df = df.withColumn("label", F.when(F.col("overall")>=3, 1).otherwise(0))
df.show()

+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+-----+
|      asin| helpful|overall|          reviewText| reviewTime|    reviewerID|        reviewerName|             summary|unixReviewTime|label|
+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+-----+
|B000H00VBQ|  [0, 0]|    2.0|I had big expecta...| 05 3, 2014|A11N155CW1UV02|            AdrianaM|A little bit bori...|    1399075200|    0|
|B000H00VBQ|  [0, 0]|    5.0|I highly recommen...| 09 3, 2012|A3BC8O2KCL29V2|             Carol T|Excellent Grown U...|    1346630400|    1|
|B000H00VBQ|  [0, 1]|    1.0|This one is a rea...|10 16, 2013| A60D5HQFOTSOM|Daniel Cooper "da...|Way too boring fo...|    1381881600|    0|
|B000H00VBQ|  [0, 0]|    4.0|Mysteries are int...|10 30, 2013|A1RJPIGRSNX4PW|      J. Kaplan "JJ"|Robson Green is m...|    1383091200|    1|
|B000H00VBQ|  [1, 1]|    5.0|This show always ...|02 11, 2009|A16XRPF40679KG|       Michael Dobey|Robson green and ...|    1234310400|    1|
|B000H00VBQ|[12, 12]|    5.0|I discovered this...|10 11, 2011|A1POFVVXUZR3IQ|             Z Hayes|I purchased the s...|    1318291200|    1|
|B000H0X79O|  [0, 0]|    3.0|It beats watching...|10 15, 2013|A1PG2VV4W1WRPL|Jimmy C. Saunders...|It takes up your ...|    1381795200|    1|
|B000H0X79O|  [0, 0]|    3.0|There are many ep...|12 29, 2013| ATASGS8HZHGIB|             JohnnyC|A reasonable way ...|    1388275200|    1|
|B000H0X79O|  [0, 0]|    5.0|This is the best ...|02 26, 2014|A3RXD7Z44T9DHW|              Kansas|           kansas001|    1393372800|    1|
|B000H0X79O|  [0, 0]|    3.0|Not bad.  Didn't ...| 04 2, 2014| AUX8EUBNTHIIU| Louis V. Borsellino| Entertaining Comedy|    1396396800|    1|
|B000H0X79O|  [0, 0]|    4.0|Funny, interestin...| 02 7, 2014| AXM3GQLD0CHIL|           Ray Shiva|     Worth watching!|    1391731200|    1|
|B000H29TXU|  [0, 0]|    4.0|I love the variet...| 02 6, 2014|A398QSASJOIKA6|     Amazon Customer|comedy club quali...|    1391644800|    1|
|B000H29TXU|  [0, 1]|    3.0|comedy is a matte...| 09 5, 2013|A2U61O0KWJH3MM|            Cathy P.|                  ok|    1378339200|    1|
|B000H29TXU|  [0, 0]|    3.0|if this had to do...|06 14, 2013|A2LSZFEFTDRDIJ|       debra marrero|not sure who this...|    1371168000|    1|
|B000H29TXU|  [0, 0]|    5.0|Watched it for Ke...|04 29, 2014|A39F2EW27YYUDM|         Emily Booth|           Loved it!|    1398729600|    1|
|B000H29TXU|  [0, 0]|    2.0|he's OK. His humo...| 03 6, 2014| AO1Z63O9CTT95|    James Westervelt|same routine he d...|    1394064000|    0|
|B000H2DMME|  [0, 0]|    3.0|some comedians ar...| 01 9, 2014|A1378ZJMWCTVT3|                Alla|           it was ok|    1389225600|    1|
|B000H2DMME|  [0, 0]|    3.0|I only watched th...|05 18, 2014|A2JE0JYIZL5NU4|          C. A. Neal|I Only Watched Wa...|    1400371200|    1|
|B000H2DMME|  [0, 0]|    5.0|Enjoyed some of t...|02 10, 2013|A2LSZFEFTDRDIJ|       debra marrero|     Some were funny|    1360454400|    1|
|B000H2DMME|  [0, 0]|    5.0|All the comedians...| 03 6, 2014|A3RXD7Z44T9DHW|              Kansas|              kansas|    1394064000|    1|
+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+-----+
only showing top 20 rows

In [62]:
from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import CountVectorizer
from pyspark.ml.feature import StopWordsRemover

tokenizer = Tokenizer(inputCol="reviewText", outputCol="words")
remover = StopWordsRemover(inputCol="words", outputCol="filteredReviewText")
cv = CountVectorizer(inputCol="filteredReviewText", outputCol="features", vocabSize=300)

cv_transformer = Pipeline(stages=[tokenizer, remover, cv]).fit(df).transform(df)
cv_transformer.show()

+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+-----+--------------------+--------------------+--------------------+
|      asin| helpful|overall|          reviewText| reviewTime|    reviewerID|        reviewerName|             summary|unixReviewTime|label|               words|  filteredReviewText|            features|
+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+-----+--------------------+--------------------+--------------------+
|B000H00VBQ|  [0, 0]|    2.0|I had big expecta...| 05 3, 2014|A11N155CW1UV02|            AdrianaM|A little bit bori...|    1399075200|    0|[i, had, big, exp...|[big, expectation...|(300,[7,8,123,181...|
|B000H00VBQ|  [0, 0]|    5.0|I highly recommen...| 09 3, 2012|A3BC8O2KCL29V2|             Carol T|Excellent Grown U...|    1346630400|    1|[i, highly, recom...|[highly, recommen...|(300,[4,11,14,62,...|
|B000H00VBQ|  [0, 1]|    1.0|This one is a rea...|10 16, 2013| A60D5HQFOTSOM|Daniel Cooper "da...|Way too boring fo...|    1381881600|    0|[this, one, is, a...|[one, real, snooz...|(300,[4,64,174,18...|
|B000H00VBQ|  [0, 0]|    4.0|Mysteries are int...|10 30, 2013|A1RJPIGRSNX4PW|      J. Kaplan "JJ"|Robson Green is m...|    1383091200|    1|[mysteries, are, ...|[mysteries, inter...|(300,[0,5,48,252,...|
|B000H00VBQ|  [1, 1]|    5.0|This show always ...|02 11, 2009|A16XRPF40679KG|       Michael Dobey|Robson green and ...|    1234310400|    1|[this, show, alwa...|[show, always, ex...|(300,[0,1,2,4,6,1...|
|B000H00VBQ|[12, 12]|    5.0|I discovered this...|10 11, 2011|A1POFVVXUZR3IQ|             Z Hayes|I purchased the s...|    1318291200|    1|[i, discovered, t...|[discovered, seri...|(300,[1,3,4,5,7,9...|
|B000H0X79O|  [0, 0]|    3.0|It beats watching...|10 15, 2013|A1PG2VV4W1WRPL|Jimmy C. Saunders...|It takes up your ...|    1381795200|    1|[it, beats, watch...|[beats, watching,...|(300,[22,143,156,...|
|B000H0X79O|  [0, 0]|    3.0|There are many ep...|12 29, 2013| ATASGS8HZHGIB|             JohnnyC|A reasonable way ...|    1388275200|    1|[there, are, many...|[many, episodes, ...|(300,[0,26,36,39,...|
|B000H0X79O|  [0, 0]|    5.0|This is the best ...|02 26, 2014|A3RXD7Z44T9DHW|              Kansas|           kansas001|    1393372800|    1|[this, is, the, b...|[best, best, come...|(300,[4,11,43,60,...|
|B000H0X79O|  [0, 0]|    3.0|Not bad.  Didn't ...| 04 2, 2014| AUX8EUBNTHIIU| Louis V. Borsellino| Entertaining Comedy|    1396396800|    1|[not, bad., , did...|[bad., , know, co...|(300,[0,3,15,24,3...|
|B000H0X79O|  [0, 0]|    4.0|Funny, interestin...| 02 7, 2014| AXM3GQLD0CHIL|           Ray Shiva|     Worth watching!|    1391731200|    1|[funny,, interest...|[funny,, interest...|(300,[1,5,6,40,63...|
|B000H29TXU|  [0, 0]|    4.0|I love the variet...| 02 6, 2014|A398QSASJOIKA6|     Amazon Customer|comedy club quali...|    1391644800|    1|[i, love, the, va...|[love, variety, c...|(300,[0,6,8,10,20...|
|B000H29TXU|  [0, 1]|    3.0|comedy is a matte...| 09 5, 2013|A2U61O0KWJH3MM|            Cathy P.|                  ok|    1378339200|    1|[comedy, is, a, m...|[comedy, matter, ...|(300,[35,108,118,...|
|B000H29TXU|  [0, 0]|    3.0|if this had to do...|06 14, 2013|A2LSZFEFTDRDIJ|       debra marrero|not sure who this...|    1371168000|    1|[if, this, had, t...|[dat, phan,, hila...|(300,[11,83,190,2...|
|B000H29TXU|  [0, 0]|    5.0|Watched it for Ke...|04 29, 2014|A39F2EW27YYUDM|         Emily Booth|           Loved it!|    1398729600|    1|[watched, it, for...|[watched, kevin, ...|(300,[0,43,58,59,...|
|B000H29TXU|  [0, 0]|    2.0|he's OK. His humo...| 03 6, 2014| AO1Z63O9CTT95|    James Westervelt|same routine he d...|    1394064000|    0|[he's, ok., his, ...|[ok., humor, cons...|   (300,[254],[1.0])|
|B000H2DMME|  [0, 0]|    3.0|some comedians ar...| 01 9, 2014|A1378ZJMWCTVT3|                Alla|           it was ok|    1389225600|    1|[some, comedians,...|[comedians, good,...|(300,[0,37,58,123...|
|B000H2DMME|  [0, 0]|    3.0|I only watched th...|05 18, 2014|A2JE0JYIZL5NU4|          C. A. Neal|I Only Watched Wa...|    1400371200|    1|[i, only, watched...|[watched, wanda, ...|(300,[2,4,7,10,11...|
|B000H2DMME|  [0, 0]|    5.0|Enjoyed some of t...|02 10, 2013|A2LSZFEFTDRDIJ|       debra marrero|     Some were funny|    1360454400|    1|[enjoyed, some, o...|[enjoyed, comedia...|    (300,[83],[1.0])|
|B000H2DMME|  [0, 0]|    5.0|All the comedians...| 03 6, 2014|A3RXD7Z44T9DHW|              Kansas|              kansas|    1394064000|    1|[all, the, comedi...|[comedians, hilar...|(300,[6,8,16,18,4...|
+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+-----+--------------------+--------------------+--------------------+
only showing top 20 rows

In [63]:
(trainingData, testData) = cv_transformer.randomSplit([0.7, 0.3], seed = 100)
print("Training Dataset Count: " + str(trainingData.count()))
print("Test Dataset Count: " + str(testData.count()))

Training Dataset Count: 26063
Test Dataset Count: 11063

In [65]:
from pyspark.ml.classification import LinearSVC
lsvc = LinearSVC(maxIter=10, regParam=0.1)

# Fit the model
lsvcModel = lsvc.fit(trainingData["features","label"])
predictions = lsvcModel.transform(testData["features","label"])
predictions.show()

+--------------------+-----+--------------------+----------+
|            features|label|       rawPrediction|prediction|
+--------------------+-----+--------------------+----------+
|(300,[0,1,2,4,6,1...|    1|[-4.0173416654013...|       1.0|
|(300,[0,3,15,24,3...|    1|[-1.0375220163082...|       1.0|
|(300,[0,26,36,39,...|    1|[-0.1542706798043...|       1.0|
|(300,[1,5,6,40,63...|    1|[-1.3063160857211...|       1.0|
|(300,[35,108,118,...|    1|[-0.9258748141492...|       1.0|
|(300,[17,40,146,1...|    1|[-1.2499991501117...|       1.0|
|(300,[0,5,10,65,7...|    1|[-1.4395543838246...|       1.0|
|(300,[6,8,16,18,4...|    1|[-1.4510323109307...|       1.0|
|(300,[56,88,96,14...|    1|[-0.8534146386072...|       1.0|
|(300,[39,75,79,10...|    1|[-1.3863830729098...|       1.0|
|(300,[1,14,22,27,...|    1|[-1.0091194362847...|       1.0|
|(300,[0,5,60,112,...|    1|[-1.4031373523216...|       1.0|
|(300,[71,84,118],...|    1|[-0.9278216015808...|       1.0|
|(300,[0,1,2,3,4,6...|    1|[-1.5114895037869...|       1.0|
|(300,[8,9,30,54,7...|    1|[-1.7015938346592...|       1.0|
|(300,[12,39,136],...|    0|[-0.9904055224111...|       1.0|
|(300,[0,1,3,7,12,...|    1|[-1.4870699371077...|       1.0|
|(300,[1,3,13,15,1...|    1|[-1.2516831514353...|       1.0|
|(300,[1,2,232],[1...|    1|[-0.9497656100471...|       1.0|
|(300,[0,3,7,10,11...|    1|[-2.5644819266180...|       1.0|
+--------------------+-----+--------------------+----------+
only showing top 20 rows

In [74]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator(labelCol="label", rawPredictionCol="rawPrediction")
accuracy = evaluator.evaluate(predictions)
print("Model Accuracy: ", accuracy)

Model Accuracy:  0.800827638727323